@import "tailwindcss";

:root {
  --background: #cecece;
  --foreground: #151515;
  --stack: rgba(127, 127, 127, .25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-stack: var(--stack);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #151515;
    --foreground: #cecece;
  }
}

@layer components {
  .bordered {
    border-width: 1px;
    border-color: var(--stack);
  }

  .form-element {
    border-radius: 8px;
    background-color: var(--background);
    padding: 8px 16px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

* {
  transition: 250ms ease-out;
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--stack);
  border-radius: 999px;
}

::-webkit-scrollbar-corner {
  display: none;
}